<!DOCTYPE html>
{{ if (eq .Title "Home") }}
<html lang="en" data-home="true">
{{ else }}
<html lang="en">
{{ end }}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ .Site.Author.name }}" name="author">
  <meta name="supported-color-schemes" content="light dark">

  <meta name="theme-color" content="#26856d">
  <link rel="icon" href="{{ .Site.BaseURL }}assets/images/favicon.png" />
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}assets/images/apple-touch-icon.png">

	{{ if (eq .Title "Home") }}
		<title>Smockle</title>
		<meta property="og:title" content="Smockle">
		<meta name="twitter:title" content="Smockle">
		<meta property="og:site_url" content="https://www.smockle.com">
	{{ else if (eq .Title "Posts") }}
		<title>Smockle Blog</title>
		<meta property="og:title" content="Smockle Blog">
		<meta name="twitter:title" content="Smockle Blog">
		<meta property="og:site_url" content="https://blog.smockle.com">
	{{ else }}
		<title>Smockle Blog - {{ .Title }}</title>
		<meta property="og:title" content="Smockle Blog - {{ .Title }}">
		<meta name="twitter:title" content="Smockle Blog - {{ .Title }}">
		<meta property="og:site_url" content="{{ cond (in (.Site.BaseURL | string) "localhost") .Permalink  (replace .RelPermalink "/blog" "https://blog.smockle.com") }}">
	{{ end }}
	<meta property="og:image" content="{{ .Site.BaseURL }}assets/images/og-image.png">
	<meta property="twitter:image" content="{{ .Site.BaseURL }}assets/images/twitter-image.png">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary">

	<link href="{{ "assets/css/style.css" | relURL }}" rel="stylesheet">
</head>

<body>
  {{ partial "site-header.html" . }}
	{{ block "main" . }}{{ end }}
  {{ partial "site-footer.html" . }}
</body>

</html>
