<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ .Site.Author.name }}" name="author">
  <meta name="supported-color-schemes" content="light dark">

  <title>
      {{- block "title" . -}}
		{{- .Site.Title -}}
		{{- if .Title }}
		- {{ .Title }}
		{{- end -}}
      {{- end -}}
  </title>

  <link href="{{ "assets/css/style.css" | relURL }}" rel="stylesheet">
  <link href="{{ "assets/css/highlight.css" | relURL }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ "custom.css" | relURL }}">
	
    <meta name="theme-color" content="#26856d">
	<link rel="icon" href="https://blog.smockle.com/uploads/2019/9d730becb3.png" />
    <link rel="apple-touch-icon" href="https://blog.smockle.com/uploads/2019/2c6e7aded3.png">

   {{ if (eq .Title "Home") }}
     <meta property="og:title" content="{{ .Site.Title }}">
     <meta name="twitter:title" content="{{ .Site.Title }}">
     <meta property="og:site_url" content="https://www.smockle.com">
   {{ else }}
     <meta property="og:title" content="{{ cond (eq .Title "Smockle") "Smockle Blog" .Title | default "Smockle Blog" }}">
     <meta name="twitter:title" content="{{ cond (eq .Title "Smockle") "Smockle Blog" .Title | default "Smockle Blog" }}">
      <meta property="og:site_url" content="{{ .Permalink }}">
   {{ end }}
   <meta property="og:image" content="https://blog.smockle.com/uploads/2019/2c25cceece.png">
   <meta property="twitter:image" content="https://blog.smockle.com/uploads/2019/f77b16f22b.png">
   <meta property="og:type" content="website">
   <meta name="twitter:card" content="summary">
   	{{ with .Site.Params.twitter_username }}
        <meta name="twitter:creator" content="@{{ . }}">
	{{ end }}

    {{ if .RSSLink -}}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ "podcast.xml" | absURL }}" rel="alternate" type="application/rss+xml" title="Podcast" />
      <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ "feed.json" | absURL }}" />
      <link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}" />
    {{ end -}}

	<link rel="me" href="https://micro.blog/{{ .Site.Author.username }}" />
	{{ with .Site.Params.twitter_username }}
		<link rel="me" href="https://twitter.com/{{ . }}" />
	{{ end }}
	{{ with .Site.Params.github_username }}
		<link rel="me" href="https://github.com/{{ . }}" />
	{{ end }}
	{{ with .Site.Params.instagram_username }}
		<link rel="me" href="https://instagram.com/{{ . }}" />
	{{ end }}
	<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
	<link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
	<link rel="micropub" href="https://micro.blog/micropub" />
	<link rel="microsub" href="https://micro.blog/microsub" />
	<link rel="webmention" href="https://micro.blog/webmention" />
	<link rel="subscribe" href="https://micro.blog/users/follow" />
</head>
